main {
    display : grid;
    grid-template-columns : 1fr 3fr;
    grid-template-rows : 100px 230px 200px 1fr;
    column-gap : 20px;
    grid-template-areas :
        "profile sec_intro"
        "profile sec_main"
        "category sec_main"
        " . sec_main";


    width : 900px;
    min-height : 95vh;
    margin : 0px auto;
    padding : 30px 0 30px 0;
}


main .profile {
    grid-area: profile;
    margin-left : 20px;
    background-color : white;
    /*background-color: rgb(255, 238, 241);*/
}

main .profile .pro_intro {
    margin-top : 15px;
    text-align: center;
    /*background-color: rgb(237, 244, 252);*/
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

main .profile .pro_intro:after {
    margin : 0 auto;
    content : "";
    border-bottom : 3px solid rgba(147, 161, 204, 0.418);
    display : block;
    width : 50px;
}

main .profile .pro_img img {
    margin : 20px auto;
    width : 120px;
    height : 120px;
    display : block;
    border-radius: 50%;
}

main .profile .pro_intro.hello {
    margin : 15px 0;
    text-align: center;
    /*background-color: rgb(237, 244, 252);*/
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

main .profile .pro_intro.hello:after {
    margin : 0 auto;
    content : "";
    border-bottom : white;
    display : block;
    width : 100px;
}

main .profile .pro_content{
    background-color: rgb(221, 248, 222);
    padding : 3px 20px;
    text-align: center;
}


main .profile table.pro_content{
    background-color: rgb(237, 244, 252);
    width : 200px;
    height : 90px;
    font-weight: 400;
    font-size: 14px;
}

main .profile table td{
    width : 100px;
    border : 3px solid rgb(255, 255, 255);
}

main .profile table tr.count td {
    background-color: white;
}

main .list {
    grid-area : category;
    background-color: white;
    /*background-color: rgb(255, 255, 221);
    margin : 20px 0 0 20px;*/
    margin-left : 20px;
}

main .list ul {
    padding : 0;
    margin : 0;
    
}

main .list ul li {
    border-top : 1px solid rgb(200,200,200);
    list-style: none;
    padding : 15px 20px;
    font-weight: 700;
    cursor: pointer;
}

main .list ul li a {
    text-decoration: none;
    color : black;
    display : block;
}

main .list ul li:hover {
    background-color : rgba(147, 161, 204, 0.418);
}



main .section.intro {
    grid-area : sec_intro;
    margin-right : 20px;
    padding-top : 20px;
    padding-left : 20px;
    background-color: white;
    border-top :  4px solid rgba(147, 161, 204, 0.418);
    font-size : 1rem;
    text-align: center;
}

main .section.gallery {
    grid-area : sec_main;
    margin-right : 20px;
    background-color: rgb(237, 244, 252);
    padding : 20px 30px;
}

main .section.gallery a{
    text-decoration: none;
    color : black;
}

main .section.gallery article {
    display : inline-block;
    margin : 18px;
    padding : 24px;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    border-radius : 12px;
}

main .section.gallery article:hover {
    background-color : rgba(211, 218, 226, 0.692);
}


main .section.gallery article .photo img{
    width : 200px;
    height: 220px;
    border-radius : 4px;
    background-size : cover;
}


main .section.gallery article .info .writer {
    font-weight : 700;
    line-height: 32px;
}

main .section.gallery article .info .comment {
    padding : 4px 0;
    color : gray;
}

main .section.gallery .nopost {
    margin-top : 100px;
    text-align: center;
}