{% extends 'base.html' %}
{% block container %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My account profile</title>
    <link rel = "stylesheet" href = "{% static 'accounts/account_profile_update.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <div class = "profile">
            <div class = "pro_intro">PROFILE</div>
            <div class = "pro_img">
                <img class = "pro_img" src = "{{user.profile_img.url}}" alt = "프로필 사진">
            </div>
            <div class = "pro_intro hello">Hello, {{user.username}} !</div>
            <table class = "pro_content">
                <tr>
                    <td>LIKE</td>
                    <td>MYPOST</td>
                </tr>
                <tr class = "count">
                    <td>{{like_cnt}}</td>
                    <td>{{post_cnt}}</td>
                </tr>
            </table>
        </div>
        <div class = "list">
            <ul>
                <li>
                    <a href = "{% url 'profile' user.id%}">Profile</a>
                </li>
                <li>
                    <a href = "{% url 'mypost'%}">My Post</a>
                </li>
                <li>
                    <a href = "{% url 'mylike'%}">♥</a>
                </li>
                <li>
                    <a href = "{% url 'myinfo'%}">회원 정보 수정</a>
                </li>
            </ul>
        </div>

        
        <section class = "section intro">
            <h2>PROFILE</h2>
        </section>

        <section class = "section contents">
            <div class = "sec_title">{{user.nickname}} 님의 프로필</div>
            <div class = "sec_content">
                <form action = "{%  url 'profileupdate' %}" method = "POST" enctype = "multipart/form-data">
                    {%csrf_token%}
                    <table> 
                        <tr>
                            <td class = "img" rowspan = "4">
                                <input type="file" value="{{user.profile_img.url}}" name = "profile_img" alt = "프로필 사진">
                            </td>
                            <td>{{user.nickname}}</td>
                        </tr>

                        <tr>
                            <td>{{user.location}}</td>
                        </tr>

                        <tr>
                            <td class = "last"><textarea type="text" name="comment" id="comment" placeholder="자기소개는 200자까지 작성 가능합니다.">{{user.comment}}</textarea></td>
                        </tr>
                    </table>

                    <button type = "submit" class = "submit_btn">수정 완료</button>

                </form>

            </div>
        </section>






    </main>
<!--
    <footer>
        <ul>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보 보호</a></li>
            <li><a href="#">고객센터</a></li>
        </ul>

    </footer>
-->
</body>
</html>
{% endblock %}