{% extends 'base.html' %}
{% block container %}
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'rental/css/suggest.css' %}">
</head>
<body>
    <section class="edit">
        <h1>Rental Suggest Form</h1>
        <hr>
        <form class="suggest" action="{% url 'submit' %}" method="POST" enctype= multipart/form-data>
            {%csrf_token%}
            <p>대여 물품<br> <input type="text" name="product" required></p>
            <p>사진<br> <input id="inputbox" type="file" name="images" required></p>
            <p>가격<br><input id="shortbox" type="number" name="price" required>원</p>
            <p>도시<br>
                <select name="city" id="city">
                    <option value="서울시">서울시</option>
                    <option value="부산시">부산시</option>
                    <option value="대구시">대구시</option>
                    <option value="인천시">인천시</option>
                    <option value="광주시">광주시</option>
                    <option value="대전시">대전시</option>
                    <option value="울산시">울산시</option>
                    <option value="세종시">세종시</option>
                    <option value="경기도">경기도</option>
                    <option value="강원도">강원도</option>
                    <option value="충청도">충청도</option>
                    <option value="전라도">전라도</option>
                    <option value="경상도">경상도</option>
                    <option value="제주도">제주도</option>
                </select>
            </p>
            <p>상세주소 <br> <input type="text" name="address" required></p>
            <p>대여 기간<br> <input id="shortbox" type="number" name="rentterm" required>일</p>
            <p>소개<br> <input id="longbox" type="text" name="information" required></p>
            <p>오픈채팅주소<br> <input id="chat" type="text" name="chatting"></p>
            <button type="submit">submit</button>
        </form>
    </section>
</body>
</html>
{% endblock %}